
body {
    background-color: #1a1a1a;
    font-family: 'Roboto Slab';
}

.container {
    margin: 2.5em;
}

a {
    text-decoration: none;

    .logo {
        font-size: 1.3rem;
    }
    
    .alt-brand {
        color: rgb(223, 17, 17);
    }
}

.logo {
    color: white;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #444444;
    width: 45%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5 ease-in-out;


    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: white;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: grey;
            }
        }
    }

    .close-menu {
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}

.open-nav {
    transform: translateX(0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    svg {
        position: relative;
        top: 0;
        width: 2.3em;
        stroke: white;
        cursor: pointer;

        path {
            fill: white;
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: white;
    }

    img {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    img + img {
        margin-top: 2em;
    }
}

footer {
    position: absolute;
    width: 100%;
    height: 9vh;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
    margin-bottom: -5em;
    margin-left: -0.5em;
    margin-right: -0.5em;

    p {
        font-size: 0.8rem;
        color: white;
    }

    svg {
        stroke: white;
        width: 0.9em;
        
        path {
            fill: white;
        }
    }

    a {
        color: white;
    }

    a + a {
        margin-left: 0.8em;
    }

    .right {
        justify-content: space-between;
    }
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  
  /* The Close Button */
  .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

@media only screen and (min-width: 820px) {
    .menu {
        display: none;
    }

    header {
        align-items: center;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        ul {
            margin-top: 0em;
        }
    }

    svg.close-menu {
        display: none;
    }

    ul {
        display: flex;
        margin: 0;

        li {
            a {
                color: white;
                font-size: .9rem;
    
                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .gallery { 
        // margin-top: 2em;

        h1 {
            margin-bottom: 1em;
        }
    }

    .gallery-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 50vw);
        gap: 4em;

        img {
            object-fit: cover;
        }

        img + img {
            margin: 0em;
        }

    }

    footer {
        margin-top: 12.7em;
    }

}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .gallery { 
        margin-top: 2em;

        h1 {
            margin-bottom: 1em;
        }
    }

    .gallery-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 50vw);
        gap: 3em;

        img {
            object-fit: cover;
            height: 100%;
        }

        img + img {
            margin: 0em;
        }
    }

    footer {
        margin-top: 10em;
    }
}